* {
    margin: 0px;
    padding: 0px;
}

detail-product {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 30px;
    padding-top: 100px;
}

detail-product img {
    width: 400px;
    margin-right: 100px;
}
#buy-product div {
    width: 50%;
    align-items: center;
}

h2 {
    font-size: 50px;
    font-weight: 900;
}